:root {
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#background-gradient {
  background: linear-gradient(0deg, rgba(9, 0, 0, 0) 0%, rgba(159, 38, 0, 0.624) 91.15%);
}

#content {
  margin: 0 5%;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#formag-as-part {
  margin-top: 1rem;
  margin-bottom: 10dvh;
}

#corporate-values-enum {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, max(300px, 100% / 3)), 1fr));
  row-gap: 5dvh;
}

.value-cart {
  /*width: 30%;*/
  /*height: min-content;*/
  height: 100%;
  padding: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  transition: background-color 500ms;

  & hr {
    width: 30%;
    margin: 4% 0;
    transition: width 500ms;
  }

  .value-cart-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & img {
      width: 10%;
      margin-left: 1rem;
      flex-shrink: 0;
      height: auto;
      object-fit: contain;
      filter: invert();
    }
  }

  > p {
    margin-top: 1rem;
  }
}

.value-cart:hover {
  background-color: var(--brown);

  & hr {
    width: 100%;
    transition: width 500ms;
  }
}

.value-cart.hover {
  background-color: var(--brown);
}

.value-cart.hover hr {
  width: 100%;
}

#management-team {
  width: 93%;
  margin: 20dvh auto auto;
}

#manager-list {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*gap: 20%;*/

  > .manager {
    width: 70%;
    max-width: 280px;
    margin: auto;

    display: flex;
    flex-direction: column;

    > .manager-photo {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;

      position: relative;
      border-radius: 50%;

      > .behind-image {
        position: absolute;
        background-color: var(--brown);
        width: 100%;
        height: 100%;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        > a {
          pointer-events: none;
          width: 20%;
          height: 20%;

          & img {
            width: 100%;
            height: auto;
            object-fit: contain;
            filter: invert();
          }
        }
      }

      > img {
        pointer-events: none;
        width: 100%;
        height: auto;
        position: absolute;
        border-radius: 50%;

        transition: 0.5s var(--bounce);
      }

      &:hover > img,
      &.hover > img {
        transform-origin: top center;
        rotate: -15deg;
        transition: 0.5s var(--bounce);

        &.clicked {
          transform-origin: top center;
          rotate: -100deg;
          transition: 0.5s var(--bounce);
        }
      }

      &:has(.clicked) a {
        pointer-events: auto;
      }
    }

    > .manager-info {
      margin-top: 1rem;

      > * {
        text-align: center;
      }
    }
  }

  > .manager:nth-of-type(3) .manager-photo {
    > img {
      border-radius: 0;
    }
  }
}

#location {
  & h2::before {
    content: url(../img/icons/navigation-ico.png);
    filter: invert();
    aspect-ratio: 1/1;
    width: 10%;
    transform: scale(0.5) translateY(-40%);
    object-fit: contain;
    float: left;
  }
}

#contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  & address {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  & iframe {
    width: 100%;
    margin-left: auto;
    margin-right: 2rem;
    max-width: 500px;
    min-height: 32dvh;
    border-radius: 15px;
  }
}

@media (max-width: 1250px) {
  #manager-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-row-gap: 4rem;
  }

  #contact-us {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;

    & iframe {
      margin: 0;
      /*width: 100%;*/
      max-width: 100%;
      /*min-height: 32dvh;*/
      /*border-radius: 15px;*/
    }
  }

}

@media (max-width: 740px) {
  #manager-list {
    display: grid;
    grid-row-gap: 5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}