#background-gradient {
  background: linear-gradient(0deg, rgba(9, 0, 0, 0.392) 0%, rgba(164, 40, 42, 0.624) 91.15%);
}

main {
  padding: 0 5dvw;
}

#contact-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;

  & h2 {
    height: auto;
  }

  & form {
    /*width: 50%;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);


    & hr {
      margin-top: 0.4rem;
      margin-left: -3px;
    }

    & input:not([type="submit"]) {
      margin-top: 10px;
    }

    & input[type="submit"] {
      width: 70%;
      height: 4rem;
      border: none;
      border-radius: 20px;
      background-color: var(--brown);
      transition: background-color 500ms;

      &:hover {
        background-color: var(--brown-dark);
        transition: background-color 500ms;
      }
    }
  }
}

#social-medias {
  display: grid;
  gap: 3dvw;
  grid-template-columns: repeat(3, 1fr);

  > .social {
    width: 100%;
    border-radius: 15px;
    transition: background-color 500ms;

    a {
      padding: 2rem;
      display: block;
    }

    & hr {
      width: 30%;
      margin: 0 auto;
      transition: width 500ms;
    }

    & div {
      margin-top: 1rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & img {
        width: 30px;
        margin-left: 1rem;
        flex-shrink: 0;
        object-fit: cover;
        filter: invert();
      }
    }

    &:hover {
      background-color: var(--brown);
      transition: background-color 500ms;

      & hr {
        width: 100%;
        transition: width 500ms;
      }
    }
  }
}


@media (max-width: 1300px) {
  #contact-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  #social-medias .social {
    background-color: var(--brown);
    transition: background-color 500ms;


    a {
      padding: 1rem;
      margin: auto;
    }

    hr {
      width: 100%;
      transition: width 500ms;
    }

    h2 {
      display: none;
    }

    div {
      margin-top: 0.5rem;

      img {
        width: auto;
        height: 2rem;
        margin: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  #contact-form h2 {
    font-size: 1.5rem;
  }

  #contact-form form {
    grid-template-columns: 1fr;
  }
}