<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GeneralStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block specific_styles %}{% endblock %}
    {% block third_party_script %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="../static/img/Grouplogo.png">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<img src="{{ url_for('static', filename='img/background.jpg') }}" alt="" id="background-img">

{% include 'navbar.html' %}

<div id="background-gradient"></div>

<main>
    {% block content %}{% endblock %}
</main>

{% include 'footer.html' %}

{% block script %}{% endblock %}

<script src="{{ url_for('static', filename='js/hamburger_menu.js') }}"></script>
</body>
</html>