{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Career.css') }}">
{% endblock %}

{% block title %}Career | Formag{% endblock %}

{% block content %}
    <div id="we-provide">
        <h2>We provide service</h2>
        <div id="service-motto">
            <div class="service-text">
                <p>That is why our most precious active is our employees. From this point of view, FORMAG is an
                    extremely rich company.</p>
            </div>
            <div class="service-text">
                <p>Every employee of the company always can make an impact on the processes within the company. We
                    are
                    always open for the new ideas and we appreciate the initiative. </p>
            </div>
            <div class="service-text">
                <p>If you are interested in work in the field of transport and logistics, Formag company may become
                    the
                    best choice. You are free to become acquainted with the possibilities and vacancies in our
                    company
                    that are opened today.</p>
            </div>
        </div>
    </div>

    <div id="our-vacancies">
        <h2>Our vacancies:</h2>
        <div id="vacancies">
            <div class="vacancy">
                <div>
                    <h2>Sales Manager</h2>
                    <h3>Kyiv, Ukraine</h3>
                </div>
                <img src="../static/img/icons/arrow-down-ico.png" alt="">
            </div>
            <div class="vacancy">
                <div>
                    <h2>Sales Manager</h2>
                    <h3>Kyiv, Ukraine</h3>
                </div>
                <img src="../static/img/icons/arrow-down-ico.png" alt="">
            </div>
            <div class="vacancy">
                <div>
                    <h2>Sales Manager</h2>
                    <h3>Kyiv, Ukraine</h3>
                </div>
                <img src="../static/img/icons/arrow-down-ico.png" alt="">
            </div>
            <div class="vacancy">
                <div>
                    <h2>Sales Manager</h2>
                    <h3>Kyiv, Ukraine</h3>
                </div>
                <img src="../static/img/icons/arrow-down-ico.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/Career.js') }}"></script>
{% endblock %}