{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Formag Forwarding{% endblock %}

{% block content %}

    <div id="our-cualities">
        <div>
            <h1>FREIGHT TRANSPORTATION</h1>
            <h2>THROUGHOUT THE WORLD</h2>
        </div>

        <ul>
            <li>SAFE</li>
            <li>PROFESSIONAL</li>
            <li>ON TIME</li>
        </ul>
        <button id="calculate-shipment">Calculate the shipment</button>
    </div>
    <div>
        <hr>
        <div id="promo">
            <p>The subject of our business is not unique, but unique is the way to do it</p>
            <p>To deliver cargo from one point to another is a business that could be done by hundreds of
                companies. </p>
            <p>But to deliver it with the maximum profit and convenience for cargo owners is the task that could not
                be
                performed by everyone. That is Formag's secret.</p>
        </div>
    </div>

    <dialog id="dialog-form">
        <h2>Please fill the form</h2>
        <form action="/api/save_travel_route" method="POST" id="travel">
            <div id="part1">
                {% include 'svg_map.html' %}

                <div id="current-area">
                    <h4 id="current-area-name"></h4>
                </div>

                <div id="destinations">
                    <p id="listOfProvinces">Where will we go:<br/></p>
                </div>

                <div class="form-element">
                    <input type="button" id="submit-cities" value="Next">
                </div>
            </div>
            <div id="part2">
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <th style="background-color: rgba(255, 205, 241, 0.5);">Standart</th>
                        <th style="background-color: rgba(252, 231, 0, 0.5);">Premium</th>
                        <th style="background-color: rgba(255, 77, 0, 0.5);">Ultra</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Price (€*km)</td>
                        <td>10.00</td>
                        <td>15.00</td>
                        <td>20.00</td>
                    </tr>
                    <tr>
                        <td>Estimated Delivery</td>
                        <td>March 22th</td>
                        <td>March 18th</td>
                        <td>March 16th</td>
                    </tr>
                    <tr>
                        <td>Insurance</td>
                        <td>1 month</td>
                        <td>6 months</td>
                        <td>12 months</td>
                    </tr>
                    <tr>
                        <td>Tracking</td>
                        <td>Basic</td>
                        <td>24/7</td>
                        <td>24/7</td>
                    </tr>
                    </tbody>
                </table>
                <select id="suscription_plan">
                    <option value="Standart">Standart</option>
                    <option value="Premium" selected>Premium</option>
                    <option value="Ultra" selected>Ultra</option>
                </select>
                <input type="button" style="float: right; width: 25%;" id="submit-prices" value="Next">
            </div>

            <div id="part3">
                <div id="stats">
                    <div id="price_and_distance">
                        <h3 id="distance_form">Total Distance: 1500 km</h3>
                        <h3 id="price_form">Total Price: 1000 €</h3>
                    </div>
                    <div id="comment_section">
                        {% if not current_user.is_authenticated %}
                            <input type="email" id="email_input" placeholder="Email to send info">
                            <hr>
                        {% endif %}
                        <textarea id="comment_input" placeholder="Comment for us"></textarea>
                        <hr>
                    </div>
                </div>
                <input type="submit" id="submit-form" value="Submit">
            </div>

        </form>
    </dialog>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
