{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Formag Forwarding{% endblock %}

{% block content %}

    <div id="our-cualities">
        <div>
            <h1>FREIGHT TRANSPORTATION</h1>
            <h2>THROUGHOUT THE WORLD</h2>
        </div>

        <ul>
            <li>SAFE</li>
            <li>PROFESSIONAL</li>
            <li>ON TIME</li>
        </ul>
        <button id="calculate-shipment">Calculate the shipment</button>
    </div>
    <div>
        <hr>
        <div id="promo">
            <p>The subject of our business is not unique, but unique is the way to do it</p>
            <p>To deliver cargo from one point to another is a business that could be done by hundreds of
                companies. </p>
            <p>But to deliver it with the maximum profit and convenience for cargo owners is the task that could not
                be
                performed by everyone. That is Formag's secret.</p>
        </div>
    </div>

    {% include 'multi_step_dialog.html' %}

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
