{% block navbar %}
    <nav id="navbar-top">
        <div id="logo">
            <a href="/" id="logo-img">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" id="logo_large"/>
                <img src="{{ url_for('static', filename='img/Grouplogo.png') }}" alt="logo" id="logo_small"/>
            </a>
        </div>
        <div id="pages">
            <a href="/services"> Services </a>
            <a href="/news"> News </a>
            <a href="/career"> Career </a>
            <a href="/about-us"> About Us </a>
        </div>
        <div id="contact_section">
            <a href="/contact" class="contact-button">Contact with us</a>
            <img src="{{ url_for('static', filename='img/icons/burger-menu-svgrepo-com.svg') }}" id="hamburger_closed"
                 class="hamburger"
                 alt="hamburger menu">
            <div class="login_toggle_menu">
                <img src="{{ url_for('static', filename='img/icons/login_img.png') }}" id="login_img"
                     alt="login_placeholder">
                <ul class="list hidden">
                    <li><img src="{{ url_for('static', filename='img/icons/account_box.svg') }}" alt="">My Profile</li>
                    <li><img src="{{ url_for('static', filename='img/icons/route.svg') }}" alt="">My Routes</li>
                    <li><img src="{{ url_for('static', filename='img/icons/settings.svg') }}" alt="">Configuration</li>
                    <li><img src="{{ url_for('static', filename='img/icons/logout.svg') }}" alt="">Log Out</li>
                </ul>
            </div>
        </div>
    </nav>
    <dialog id="navbar_dialog">
        <div id="logo">
            <a href="/" id="logo-img">
                <img src="../static/img/logo.png" alt="logo"/>
            </a>
            <img src="../static/img/icons/burger-menu-svgrepo-com.svg" id="hamburger_opened" class="hamburger"
                 alt="hamburger menu">
        </div>
        <hr>
        <div id="pages_opened">
            <a href="/services"> Services </a>
            <a href="/news"> News </a>
            <a href="/career"> Career </a>
            <a href="/about-us"> About Us </a>
        </div>
        <hr>
        <div id="profile_section">
            <a href="#">My Profile</a>
            <a href="#">My Routes</a>
            <a href="#">Configuration</a>
            <a href="#">Log Out</a>
        </div>
        <hr>
        <div id="profile_section">
            <a href="/contact">Contact with us</a>
        </div>
    </dialog>

{% endblock %}