{% block navbar %}
    <nav id="navbar-top">
        <div id="logo">
            <a href="/" id="logo-img">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" id="logo_large"/>
                <img src="{{ url_for('static', filename='img/Grouplogo.png') }}" alt="logo" id="logo_small"/>
            </a>
        </div>
        <div id="pages">
            <a href="{{ url_for('mvc.services') }}"> Services </a>
            <a href="/news"> News </a>
            <a href="/career"> Career </a>
            <a href="/about-us"> About Us </a>
        </div>
        <div id="contact_section">
            <a href="/contact" class="contact-button">Contact with us</a>
            <img src="{{ url_for('static', filename='img/icons/burger-menu.svg') }}" id="hamburger_closed"
                 class="hamburger"
                 alt="hamburger menu">
            <div class="login_toggle_menu">
                <img src="{{ url_for('static', filename='img/icons/login_img.png') }}" id="login_img"
                     alt="login_placeholder">
                {% if current_user.is_authenticated %}
                    <ul class="list hidden">
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', filename='img/icons/account_box.svg') }}" alt="">My
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="/my_routes">
                                <img src="{{ url_for('static', filename='img/icons/route2.svg') }}" alt="">
                                My Routes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', filename='img/icons/settings.svg') }}" alt="">
                                Configuration
                            </a>
                        </li>
                        <li>
                            <a href="#" class="logout_button">
                                <img src="{{ url_for('static', filename='img/icons/logout.svg') }}" alt="">
                                Log Out
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="list hidden">
                        <li>
                            <a href="/login">
                                <img src="{{ url_for('static', filename='img/icons/login.svg') }}" alt="">
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="/register">
                                <img src="{{ url_for('static', filename='img/icons/register.svg') }}" alt="">
                                Register
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <dialog id="navbar_dialog">
        <div id="logo">
            <a href="/" id="logo-img">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
            </a>
            <img src="{{ url_for('static', filename='img/icons/burger-menu.svg') }}" id="hamburger_opened" class="hamburger" alt="hamburger menu">
        </div>
        <hr>
        <div id="pages_opened">
            <a href="/services"> Services </a>
            <a href="/news"> News </a>
            <a href="/career"> Career </a>
            <a href="/about-us"> About Us </a>
        </div>
        <hr>
        <div id="profile_section">
            {% if current_user.is_authenticated %}
                <a href="#">My Profile</a>
                <a href="/my_routes">My Routes</a>
                <a href="#">Configuration</a>
                <a href="#" class="logout_button">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
        <hr>
        <div id="profile_section">
            <a href="/contact">Contact with us</a>
        </div>
    </dialog>

{% endblock %}