{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/News.css') }}">
{% endblock %}

{% block title %}News | Formag{% endblock %}

{% block content %}
    <div id="news-container">
        {% for item in news_items %}
            <div class="news">
                <img src="{{ url_for('static', filename='img/Articles/' + item.image) }}" alt="">
                <h2>{{ item.title }}</h2>
                <time>{{ item.date }}</time>
                <p>{{ item.description }}</p>
                <a href="#" class="read-more" data-title="{{ item.title }}" data-description="{{ item.content }}"
                   data-image="{{ url_for('static', filename='img/Articles/' + item.image) }}">Read more</a>
            </div>
        {% endfor %}
    </div>

    <dialog id="news-modal" class="modal">
        <span class="close">&times;</span>
        <h2 id="modal-title"></h2>
        <img id="modal-image" src="" alt="">
        <p id="modal-description"></p>
    </dialog>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/News.js') }}"></script>
{% endblock %}