{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Services.css') }}">
{% endblock %}

{% block title %}Services | Formag{% endblock %}

{% block content %}


    <div id="services">
        {% for service in services %}
            <div class="service">
                <hr>
                <div class="service-name">
                    <h2>{{ service.name }}</h2>
                    <img src="../static/img/icons/star.svg" alt="">
                </div>
                <p>{{ service.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/Services.js') }}"></script>
{% endblock %}
